{% extends "main.html" %}
{% load static %}

{% block title %}Home - LibManage{% endblock %}

{% block header %}
<div class="container">
    <a class="navbar-brand" href="{% url 'user-homepage-url' %}">LibManage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user-homepage-url' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Borrow History</a>
            </li>
            {% if user.is_librarian %}
            <li class="nav-item">
                <a class="nav-link" href="">Book Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manage-book' %}">Manage Book</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user-update-url' %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout-url' %}">Logout</a>
            </li>
        </ul>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="container mt-4">
    <!-- Trending Section -->
    <div class="trending-section mb-2">
        <h2 class="text-center mb-4">Trending</h2>
        <div class="row">
            {% for book in trending_books %}
            <div class="col-md-3 my-2">
                <div class="card">
                    {% if book.cover_image %}
                    <img src="../../media/{{ book.cover_image }}" class="card-img-top" alt="{{ book.title }}" width="200px" height="200px">
                    {% else %}
                    <img src="{% static 'assets/book_cover_sample.jpg' %}" class="card-img-top" alt="{{ book.title }}" width="200px" height="200px">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">by {{ book.author }}</p>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'view-book' book.id %}" class="btn btn-primary btn-sm">View Details</a>
                            <a href="" class="btn btn-success btn-sm">Borrow</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Books Section -->
    <div class="books-section h-100">
        <h2 class="text-center mb-4">Books</h2>
        <div class="row" id="books-div">
            {% for book in all_books %}
            <div class="col-md-3 my-2">
                <div class="card">
                    {% if book.cover_image %}
                    <img src="../../media/{{ book.cover_image }}" class="card-img-top" alt="{{ book.title }}" width="200px" height="200px">
                    {% else %}
                    <img src="{% static 'assets/book_cover_sample.jpg' %}" class="card-img-top" alt="{{ book.title }}" width="200px" height="200px">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">by {{ book.author }}</p>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'view-book' book.id %}" class="btn btn-primary btn-sm">View Details</a>
                            <a href="" class="btn btn-success btn-sm">Borrow</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
